ELASTICSEARCH_URL=
ELASTICSEARCH_AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

AWS_S3_BUCKET=
AWS_S3_REGION=

MARCHAND_DB_HOST=
MARCHAND_DB_PORT=
MARCHAND_DB_SCHEMA=
MARCHAND_DB_USER=
MARCHAND_DB_PASSWORD=

SECRET_KEY_BASE=

RAILS_ENV=

RAILS_SERVE_STATIC_FILES=enabled

RAILS_LOG_TO_STDOUT=1
