<p>
  A image request was posted from Marchand for the topic :
  <em><%= @image.title %></em>
  by the customer <%= @customer_email %>
</p>

<p>
  To reply to this request, please visit the
  <%= link_to "image page", edit_image_url(@image) %>.
</p>
