<p>
  A lesson request was posted from Marchand for the topic :
  <em><%= @lesson.title %></em>
  by the customer <%= @customer_email %>
</p>

<p>
  To reply to this request, please visit the
  <%= link_to "lesson page", edit_lesson_url(@lesson) %>.
</p>
