RewriteEngine On
RewriteRule ^collection/([^/]+)/?(.*)/?(.*) /ic/index.php?c=$1&major_minor=$2
RewriteRule ^standard/([^/]+)/?(.*) /ic/index.php?s=$1&sub_s=$2
RewriteRule ^search/([^/]+)/?(.*) /ic/index.php?text=$1&standard=$2&redirected=1
RewriteRule ^get/[0-9]+(/)? /ic/get_image.php?id=$1
