.wrap1 {
  display:inline-table;
  float:left;
  background:url(/images/shadow.gif) right 
  bottom no-repeat;
  }
.wrap2 {
  display:inline-table;
  background:url(/images/corner_bl.gif) left 
  bottom no-repeat;
  }
.wrap3 {
  display:inline-table;
  padding:0px 4px 4px 0px;
  background:url(/images/corner_tr.gif) right 
  top no-repeat;
  }

#ic_s_text { background-olor:#CCCCCC; font-size:.8em;}
#ic_s_main a{ background-color:#557799; font-size:1.2em; text-decoration:none;  float:left; }
#ic_s_rows { background-color:#FFFFFF; clear:both;}

#ic_title { background-color:#DDDDDD; margin-bottom:10px; padding:3px; }

#ic_thumb { clear:both;font-size:.9em; padding:2px; background-color:EEEEEE;border-width:1px; border-style:solid; margin-right:10px; margin-bottom:10px;  }
#ic_thumb_text { font-size:.9em; foat:right;cear:left; }
#ic_thumb_img { float:left;clear:both; }

#navcontainer { width: 400px; }

#navcontainer ul
{
margin-left: 0;
padding-left: 0;
list-style-type: none;
font-family: Arial, Helvetica, sans-serif;
font-size:18px; 
}

#navcontainer a
{
display: block;
padding: 3px;
idth: 160px;
background-color: #273675;
border-bottom: 1px solid #eee;
}

#navcontainer a:link, #navlist a:visited
{
color: #FFF;
text-decoration: none;
}

#navcontainer a:hover
{
background-color: #369;
color: #fff;
}


#navcontainer_h a
{
display: block;
padding: 3px;
idth: 160px;
background-color: #036;
border-bottom: 1px solid #eee;
}

#navcontainer_h a:link, #navlist_h a:visited
{
color: #FFF;
text-decoration: none;
}

#navcontainer_h a:hover
{
background-color: #369;
color: #fff;
}





ul#navlist_h
{
margin-left: 0;
padding-left: 0;
white-space: nowrap;
}

#navlist_h li
{
display: inline;
list-style-type: none;
margin:1px;
font-family: Arial, Helvetica, sans-serif;
font-size:18px; 
}

#navlist_h a { padding: 3px 10px; }

#navlist_h a:link, #navlist_h a:visited
{
color: #fff;
background-color: #036;
text-decoration: none;
}

#navlist_h a:hover
{
color: #fff;
background-color: #369;
text-decoration: none;
}

body {
font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	}