<div id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="content portlet-0">
          <span>This History Project at UC Davis</span><br />
          <span>One Shields Ave, 163 Kerr Hall, Davis, CA, 95616</span><br />
          <span></span>tel: 530.752.4383<br />fax: 530.752.5655<br />
          <a href="mailto:historyproject@ucdavis.edu" target="_self">historyproject@ucdavis.edu</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content portlet-1">
          <div class="column">
            <ul>
              <li><a href="https://historyproject.ucdavis.edu/programs"><span>Programs</span></a></li>
              <li><a href="https://historyproject.ucdavis.edu/resources"><span>Resources</span></a></li>
              <li><a href="https://historyproject.ucdavis.edu/events"><span>Events</span></a></li>
              <li><a href="https://historyproject.ucdavis.edu/about-us"><span>About Us</span></a></li>
            </ul>
          </div>
          <div class="column">
            <ul>
              <li><a href="https://historyproject.ucdavis.edu/about-us/staff"><span>Join Our Team</span></a></li>
              <li><div class="line"></div></li>
              <li><a href="https://historyproject.ucdavis.edu/sitemap"><span>Sitemap</span></a></li>
              <li><a href="https://historyproject.ucdavis.edu/accessibility-info"><span>Accessibility</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content portlet-2">
          <a href="https://historyproject.ucdavis.edu/front-page" target="_self">
            <img src="https://historyproject.ucdavis.edu/images-and-files/UCDHP_logo_all_White_LA_small.png" alt="UC Davis White Logo Small LA" class="image-inline" title="UC Davis White Logo Small LA" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="portal-footer">
  <a href="http://www.ucdavis.edu">Copyright<sup>®</sup></a> by
  <abbr title="Copyright">©</abbr> 2000-2019 by the
  <a href="http://www.ucdavis.edu">The Regents of the University of California, Davis campus. All rights reserved.</a>
</div>
