<div id="footer">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="content portlet-0">
            <p><span>This History Project at UC Davis</span><br />
              <span>One Shields Ave, 163 Kerr Hall, Davis, CA, 95616</span><br />
              <span></span>tel: 530.752.4383<br />fax: 530.752.5655<br />
              <a class="email-link" href="mailto:historyproject@ucdavis.edu" target="_self" title="">historyproject@ucdavis.edu</a>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="content portlet-1">
            <div class="column">
                <ul class="navTree navTreeLevel0">
                  <li class="navTreeItem visualNoMarker section-programs">
                    <a href="https://historyproject.ucdavis.edu/programs" class="state-published contenttype-link" title="">
                    <span>Programs</span>
                    </a>
                  </li>
                  <li class="navTreeItem visualNoMarker section-resources">
                    <a href="https://historyproject.ucdavis.edu/resources" class="state-published contenttype-link" title="">
                    <span>Resources</span>
                    </a>
                  </li>
                  <li class="navTreeItem visualNoMarker section-events">
                    <a href="https://historyproject.ucdavis.edu/events" class="state-published contenttype-link" title="">
                    <span>Events</span>
                    </a>
                  </li>
                  <li class="navTreeItem visualNoMarker section-about-us">
                    <a href="https://historyproject.ucdavis.edu/about-us" class="state-published contenttype-link" title="">
                    <span>About Us</span>
                    </a>
                  </li>
                  </ul>
              </div>
              <div class="column">
                  <ul>
                  <li class="navTreeItem visualNoMarker section-about-us">
                    <%# TODO: change Join Our Team link %>
                    <a href="#" class="state-published contenttype-link" title="">
                    <span>Join Our Team</span>
                    </a>
                  </li>
                  <li>
                    <div class="line"></div>
                  </li>
                  <li class="navTreeItem visualNoMarker section-about-us">
                    <%# TODO: change Sitemap link %>
                    <a href="#" class="state-published contenttype-link" title="">
                    <span>Sitemap</span>
                    </a>
                  </li>
                  <li class="navTreeItem visualNoMarker section-about-us">
                    <%# TODO: change Accessibility link %>
                    <a href="#" class="state-published contenttype-link" title="">
                    <span>Accessibility</span>
                    </a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="content portlet-2">
            <p>
              <a title="" href="https://historyproject.ucdavis.edu/front-page" class="internal-link" target="_self">
                <img src="https://historyproject.ucdavis.edu/images-and-files/UCDHP_logo_all_White_LA_small.png" alt="UC Davis White Logo Small LA" class="image-inline" title="UC Davis White Logo Small LA" />
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="portal-footer">
    <p>
      <a href="http://www.ucdavis.edu">Copyright<sup>®</sup></a> by
      <abbr title="Copyright">©</abbr> 2000-2019 by the
      <a href="http://www.ucdavis.edu">The Regents of the University of California, Davis campus. All rights reserved.</a>
    </p>
  </div>
  </div>
</div>
