<header id="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="content portlet-2 pull-left">
          <p>
            <%# TODO: change Marchand Archive Logo %>
            <a href="<%= root_url %>"><%= image_tag("marchand-logo.svg", :class => "center-block marchand-logo") %></a>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content portlet-2 pull-right">
          <p>
            <%# TODO: change History Project Logo %>
            <a title="" href="https://historyproject.ucdavis.edu/front-page" class="internal-link" target="_self">
              <img src="https://historyproject.ucdavis.edu/images-and-files/UCDHP_logo_all_White_LA_small.png" alt="UC Davis White Logo Small LA" class="image-inline" title="UC Davis White Logo Small LA" />
            </a>
          </p>
        </div>
    </div>
  </div>
</header>

<!-- BREADCRUMB -->
  <ul class="breadcrumb">
    <li>You are here: <a href="https://historyproject.ucdavis.edu/">Home</a></li>
    <li><a href="https://historyproject.ucdavis.edu/resources">Resources</a></li>
    <li><a href="https://marchand.dss.ucdavis.edu/">Marchand Archive</a></li>
    <li class="pull-right">
      <% if session[:cas_user].present? %>
        <a href="/logout">CAS Logout</a>
      <% else %>
        <a href="/login">CAS Login</a>
      <% end %>
    </li>
  </ul>

<%= render 'shared/nav' %>
