@charset "utf-8";
/* CSS Document */
form {
	margin: 0px;
	padding: 0px;
}


#adminHeader {
	border-bottom: 1px solid black;
}
#adminHeader img {
	padding: 39px 20px 31px 11px;
}
#login1 {
}
#login1 td {
	padding: 2px;
}
#login2 {
	float: left;
	width: 80px;
	height: 85px;
	margin: 0 0 0 50px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
#login3 {
	width: 250px;
	margin: 35px 0 200px 0;
	padding: 30px 40px 15px 40px;
	border: 1px solid black;
	overflow:hidden;
}
.adminList {
	padding: 5px;
	width: 405px;
	margin: 0px 0px 0px 25px;
	border-left: 1px solid black;
	float: left;
}
.adminList img {
	padding-bottom: 5px;
}
.adminList form {
	float:right;
}
.adminList p{
	margin: 0px;
	padding: 3px 3px;
}
adminList table {
	clear:both;
}
.listLine input, .listLineOdd input{
	border: none;
}
.listLine input {
	background-color:white;
}
.listLineOdd, .listLineOdd input { background-color: #ECDBA7; }

#modify {
	clear:left;
	margin: 0 0 20px 32px;
	padding-top: 20px;
}
#modify table {
	text-align:right;
}
#modify td {
	padding: 3px;
}
form.searchForm {
	display:block;
	margin: -5px 0 5px 0;
}

.txtInputWide {
	width: 100%;
}

.htmlRef {
	text-align:left;
	margin: 0px 5px 0px 50px;
	padding: 10px;
	border: 1px solid #666666;
}
.modButtons {
	width: 110px;
}
