default: &default
  adapter: sqlite3
  pool: 5
  timeout: 5000

development:
  adapter: mysql2
  encoding: utf8
  host: <%= ENV['MARCHAND_DB_HOST'] %>
  port: <%= ENV['MARCHAND_DB_PORT'] %>
  database: <%= ENV['MARCHAND_DB_SCHEMA'] %>
  username: <%= ENV['MARCHAND_DB_USER'] %>
  password: <%= ENV['MARCHAND_DB_PASSWORD'] %>
  reconnect: true
  pool: 10

test:
  <<: *default
  database: db/test.sqlite3

production:
  adapter: mysql2
  encoding: utf8
  host: <%= ENV['MARCHAND_DB_HOST'] %>
  port: <%= ENV['MARCHAND_DB_PORT'] %>
  database: <%= ENV['MARCHAND_DB_SCHEMA'] %>
  username: <%= ENV['MARCHAND_DB_USER'] %>
  password: <%= ENV['MARCHAND_DB_PASSWORD'] %>
  reconnect: true
  pool: 10
