<div id="landscape-modal" class="modal fade horizontal-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<img src="https://thumb7.shutterstock.com/display_pic_with_logo/64260/405078397/stock-photo-business-architecture-building-construction-and-people-concept-close-up-of-architect-hands-405078397.jpg" alt="Smiley face">
				<div class="button-group">
					<button type="button" class="btn btn-default"><span><i class="glyphicon glyphicon-save"></i></span>Download</button>
					<button type="button" class="btn btn-default"><span><i class="glyphicon glyphicon-cog"></i></span>Edit</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="image-title">
					<h3 class="title">I am a title</h3>
					<h5><em class="collection">From XXXX collection</em></h5>
				</div>
				<div class="list-section">
					<h5>Description</h5>
					<p class="card">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
				</div>
				<div class="list-section">
					<h5>Topic(s)</h5>
					<ul class="topics">
						<li>test</li>
						<li>test</li>
						<li>test</li>
					</ul>
				</div>
				<div class="list-section">
					<h5>Region(s)</h5>
					<ul class="regions">
						<li>test</li>
						<li>test</li>
					</ul>
				</div>
				<div class="list-section">
					<h5>California Standard</h5>
					<ul class="cal-standards">
						<li>test</li>
						<li>test</li>
						<li>test</li>
					</uldfsdflj;asd>
				</div>
				<div class="list-section">
					<h5>National Standard</h5>
					<ul class="nat-standards">
						<li>test</li>
						<li>test</li>
						<li>test</li>
					</ul>
				</div>
				<div class="list-section">
					<h5>Citation</h5>
					<p class="citation"></p>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
