<div id="myModal" class="modal fade vertical-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="width: 950px;">
    <div class="modal-content" style="display: flex;">
      <div class="modal-header" style="border: unset;">
              <img src="https://static.pexels.com/photos/136110/pexels-photo-136110.jpeg" alt="Smiley face">
              <div class="button-group" style="position: absolute;bottom: 0;">
              <button type="button" class="btn btn-default"><span><i class="glyphicon glyphicon-save"></i></span>Download</button>
              <button type="button" class="btn btn-default"><span><i class="glyphicon glyphicon-cog"></i></span>Edit</button>
              </div>
      </div>
      <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <div class="image-title">
          <h3>I am a title</h3>
          <h5><em>From XXXX collection</em></h5>
        </div>
        <div class="list-section">
          <h5>Topic(s)</h5>
          <ul>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
        <div class="list-section">
          <h5>Religion(s)</h5>
          <ul>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
        <div class="list-section">
          <h5>California Standard</h5>
          <ul>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
        <div class="list-section">
          <h5>National Standard</h5>
          <ul>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
        <div class="list-section">
          <h5>Citation(s)</h5>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->