<div class="container edit-image">
  <h4>Edit Image</h4>
  <div class="panel panel-default" style="background-color:#FCFCFC; margin-top:50px;">
    <div class="panel-body">
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <h5>Image Title</h5>
                    <input class="form-control" placeholder="Search" type="text">
                  </div>
                  <div class="col-xs-12" style="margin-top:30px;">
                    <h5>Image ID</h5>
                    <input class="form-control" placeholder="Search" type="text">
                  </div>
                  <div class="col-xs-12"style="margin-top:30px;">
                    <h5>Keywords</h5>
                    <textarea class="form-control" placeholder="Search" type="text" style="height: 150px;"></textarea>
                  </div>
            </div>
            </div>
            <div class="col-xs-6">
            <div class="row">
                 <img src="https://thumb7.shutterstock.com/display_pic_with_logo/64260/405078397/stock-photo-business-architecture-building-construction-and-people-concept-close-up-of-architect-hands-405078397.jpg" alt="Smiley face" style="padding:30px;"> 
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="panel panel-default" style="background-color:#FCFCFC; margin-top: 50px;">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12" >
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Card Texts</h5>
                            <textarea class="form-control" placeholder="Search" type="text" style="height: 150px;">
                            </textarea>
                        </div>
                        <div class="col-xs-12"style="margin-top:30px;">
                            <h5>Card Citation</h5>
                            <textarea class="form-control" placeholder="Search" type="text" style="height: 150px;">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="background-color:#FCFCFC; margin-top: 50px;padding-left: 0px !important;padding-right: 0px !important;">
        <div class="panel-body" style="border-bottom: 1px solid #ddd;padding-bottom: 45px;">
            <div class="row">
                <div class="col-xs-12" style="padding-right: 0px;padding-left: 0px;">
                    <div class="row">
                        <div class="col-xs-12" style="padding-left: 50px;padding-right: 50px;">
                            <h5>Topic</h5>
                            <div class="row">
                                <div class="col-xs-6" style="border-right:1px solid #ddd;">
                                <div class="btn-group" style="width: 340px; margin-top:10px;">
                                    <button type="button" class="btn btn-default" style="width: calc(100% - 26px);">Action</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-default btn-assign" style="margin-top: 10px;margin-left: 15px;">Assign<div></div></button>
                                <div class="btn-group" style="width: 340px; margin-top:30px;">
                                    <input style="width:100%;" class="form-control">
                                </div>
                                <button type="button" class="btn btn-default btn-assign" style="margin-top: 10px;margin-left: 15px; margin-top: 30px;">Assign<div></div></button>
                                </div>
                                <div class="col-xs-6" style="padding-left:45px;padding-right:45px;"><!-- assign tag -->
                                    <span class="label label-default" style="background-color:#E5E9EF;color: #494949;padding-top: 5px;padding-bottom: 5px;padding-left: 15px;padding-right: 15px;margin-left: 5px;margin-right: 5px; font-weight:unset;font-size: 13px;">Asia <i class="glyphicon glyphicon-remove" style="font-size: 10px;"></i></span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" style="border-bottom: 1px solid #ddd;padding-bottom: 45px;">
            <div class="row">
                <div class="col-xs-12" style="padding-right: 0px;padding-left: 0px;">
                    <div class="row">
                        <div class="col-xs-12" style="padding-left: 50px;padding-right: 50px;">
                            <h5>Topic</h5>
                            <div class="row">
                                <div class="col-xs-6" style="border-right:1px solid #ddd;">
                                <div class="btn-group" style="width: 340px; margin-top:10px;">
                                    <button type="button" class="btn btn-default" style="width: calc(100% - 26px);">Action</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-default btn-assign" style="margin-top: 10px;margin-left: 15px;">Assign<div></div></button>
                                <div class="btn-group" style="width: 340px; margin-top:30px;">
                                    <input style="width:100%;" class="form-control">
                                </div>
                                <button type="button" class="btn btn-default btn-assign" style="margin-top: 10px;margin-left: 15px; margin-top: 30px;">Assign<div></div></button>
                                </div>
                                <div class="col-xs-6" style="padding-left:45px;padding-right:45px;"><!-- assign tag -->
                                    <span class="label label-default" style="background-color:#E5E9EF;color: #494949;padding-top: 5px;padding-bottom: 5px;padding-left: 15px;padding-right: 15px;margin-left: 5px;margin-right: 5px; font-weight:unset;font-size: 13px;">Asia <i class="glyphicon glyphicon-remove" style="font-size: 10px;"></i></span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" style="border-bottom: 1px solid #ddd;padding-bottom: 45px;">
            <div class="row">
                <div class="col-xs-12" style="padding-right: 0px;padding-left: 0px;">
                    <div class="row">
                        <div class="col-xs-12" style="padding-left: 50px;padding-right: 50px;">
                            <h5>Standard</h5>
                            <div class="row">
                                <div class="col-xs-6" style="border-right:1px solid #ddd;">
                                <div class="btn-group" style="width: 340px; margin-top:10px;">
                                    <button type="button" class="btn btn-default" style="width: calc(100% - 26px);">Action</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-default btn-assign" style="margin-top: 10px;margin-left: 15px;">Assign<div></div></button>
                                </div>
                                <div class="col-xs-6" style="padding-left:45px;padding-right:45px;"><!-- assign tag -->
                                    <span class="label label-default" style="background-color:#E5E9EF;color: #494949;padding-top: 5px;padding-bottom: 5px;padding-left: 15px;padding-right: 15px;margin-left: 5px;margin-right: 5px; font-weight:unset;font-size: 13px;">Asia <i class="glyphicon glyphicon-remove" style="font-size: 10px;"></i></span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" style="border-bottom: 1px solid #ddd;padding-bottom: 45px;">
            <div class="row">
                <div class="col-xs-12" style="padding-right: 0px;padding-left: 0px;">
                    <div class="row">
                        <div class="col-xs-12" style="padding-left: 50px;padding-right: 50px;">
                            <h5>National/World</h5>
                            <div class="row">
                                <div class="col-xs-6" style="border-right:1px solid #ddd;">
                                <div class="btn-group" style="width: 340px; margin-top:10px;">
                                    <button type="button" class="btn btn-default" style="width: calc(100% - 26px);">Action</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-default btn-assign" style="margin-top: 10px;margin-left: 15px;">Assign<div></div></button>                                
                                </div>
                                <div class="col-xs-6" style="padding-left:45px;padding-right:45px;"><!-- assign tag -->
                                    <span class="label label-default" style="background-color:#E5E9EF;color: #494949;padding-top: 5px;padding-bottom: 5px;padding-left: 15px;padding-right: 15px;margin-left: 5px;margin-right: 5px; font-weight:unset;font-size: 13px;">Asia <i class="glyphicon glyphicon-remove" style="font-size: 10px;"></i></span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" style="padding-bottom: 45px;">
            <div class="row">
                <div class="col-xs-12" style="padding-right: 0px;padding-left: 0px;">
                    <div class="row">
                        <div class="col-xs-12" style="padding-left: 50px;padding-right: 50px;">
                            <h5>Collection</h5>
                            <div class="row">
                                <div class="col-xs-6" style="border-right:1px solid #ddd;">
                                <div class="btn-group" style="width: 340px; margin-top:10px;">
                                    <button type="button" class="btn btn-default" style="width: calc(100% - 26px);">Action</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-default btn-assign" style="margin-top: 10px;margin-left: 15px;">Assign<div></div></button>                                </div>
                                <div class="col-xs-6" style="padding-left:45px;padding-right:45px;"><!-- assign tag -->
                                    <span class="label label-default" style="background-color:#E5E9EF;color: #494949;padding-top: 5px;padding-bottom: 5px;padding-left: 15px;padding-right: 15px;margin-left: 5px;margin-right: 5px; font-weight:unset;font-size: 13px;">Asia <i class="glyphicon glyphicon-remove" style="font-size: 10px;"></i></span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="background-color:#FCFCFC; margin-top: 50px;">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12" >
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Permission to Display</h5>
                            <ul class="permission-check-box">        
                                <li>
                                    <input type="checkbox" value="1" name="test[]" id="myid1">
                                    <label for="myid1">Yes</label>
                                </li>
                                <li>
                                    <input type="checkbox" value="2" name="test[]" id="myid2">
                                    <label for="myid2">No</label>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12"style="margin-top:30px;">
                            <h5>Permission Tracking Notes</h5>
                            <textarea class="form-control" placeholder="Search" type="text" style="height: 150px;">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>