<div class="container image-card-group">
  <% cols = 4 %>
  <% rows = @cards.size / cols %>
  <% for i in 0...rows %>
    <div class="row">
      <% for j in 0...cols %>
        <% card = @cards[(cols * i) + j]%>
        <% if @search %>
          <% title = card.image.title %>
          <% link = "/?bestof=#{card.topic_id}" %>
        <% else %>
          <% title = card.topic.title %>
          <% link = "/?bestof=#{card.topic_id}" %>
        <% end %>

        <div class="col-xs-3">
            <div class="image-card">
              <a href="<%= link %>"> <img src="<%= card.image.s3 %>" alt="bg"></a>
              <h5 class="text-center"><%= title %></h5>
            </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div> <!--Container-->
