<div class="container image-card-group">
  <div class="row">
    <div class="col-xs-3">
            <div class="image-card">
                <img src="goodguide.png" alt="bg">
                <h5 class="text-center">Religion</h5>
        </div>
    </div>
    <div class="col-xs-3">
            <div class="image-card">
                <img src="goodguide.png" alt="bg">
                <h5 class="text-center">Agriculture</h5>
        </div>
    </div>
    <div class="col-xs-3">
            <div class="image-card">
                <img src="goodguide.png" alt="bg">
                <h5 class="text-center">Revolution</h5>
        </div>
    </div>
    <div class="col-xs-3">
            <div class="image-card">
                <img src="goodguide.png" alt="bg">
                <h5 class="text-center">Revolution</h5>
        </div>
    </div>
  </div>
 <div class="row">
    <div class="col-xs-3">
            <div class="image-card">
                <img src="goodguide.png" alt="bg">
                <h5 class="text-center">Religion</h5>
        </div>
    </div>
    <div class="col-xs-3">
            <div class="image-card">
                <img src="goodguide.png" alt="bg">
                <h5 class="text-center">Agriculture</h5>
        </div>
    </div>
    <div class="col-xs-3">
            <div class="image-card">
                <img src="goodguide.png" alt="bg">
                <h5 class="text-center">Revolution</h5>
        </div>
    </div>
    <div class="col-xs-3">
            <div class="image-card">
                <img src="goodguide.png" alt="bg">
                <h5 class="text-center">Revolution</h5>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
            <div class="image-card">
                <img src="goodguide.png" alt="bg">
                <h5 class="text-center">Religion</h5>
        </div>
    </div>
    <div class="col-xs-3">
            <div class="image-card">
                <img src="goodguide.png" alt="bg">
                <h5 class="text-center">Agriculture</h5>
        </div>
    </div>
    <div class="col-xs-3">
            <div class="image-card">
                <img src="goodguide.png" alt="bg">
                <h5 class="text-center">Revolution</h5>
        </div>
    </div>
    <div class="col-xs-3">
            <div class="image-card">
                <img src="goodguide.png" alt="bg">
                <h5 class="text-center">Revolution</h5>
        </div>
    </div>
  </div>
</div> <!--Container-->