<div class="container image-card-group">
  <% cols = 4 %>
  <% rows = @cards.size / cols %>
  <% for i in 0...rows %>
    <div class="row">
      <% for j in 0...cols %>
        <% card = @cards[(cols * i) + j]%>
        <div class="col-xs-3">
            <div class="image-card">
              <img src="<%= card.image.s3 %>" alt="bg">
              <h5 class="text-center"><%= card.topic.title %></h5>
            </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div> <!--Container-->
