<div class="row search-result-page">
	<div id="sticky" class="sticky-element">
		<div class="sticky-anchor"></div>
		<div class="filter-panel col-xs-3 sticky-content">
			<div class="filter-panel-title">
				<h5 style="font-weight:bold;">Advanced Search</h5>
			</div>
			<div class="filter-panel-content">
				<button class="btn btn-default btn-filter" type="submit">Images</button>
				<button class="btn btn-default btn-filter pull-right" type="submit">Lessons</button>
				<div class="btn-group">
					<button type="button" class="btn btn-default">Region</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<div class="dropdown-menu">
						<div class="select2-search">
							<span class="glyphicon glyphicon-search input-search-icon"></span>
							<input class="dropdown-search" type="text">
						</div>
						<ul class="dropdown-list">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
						</ul>
					</div>
				</div>

				<div class="btn-group">
					<button type="button" class="btn btn-default">Topic/Theme</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<div class="dropdown-menu">
						<!-- test -->
						<div class="select2-search">
							<span class="glyphicon glyphicon-search input-search-icon"></span>
							<input class="dropdown-search" type="text">
						</div>
						<ul class="dropdown-list">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
						</ul>
					</div>
				</div>

				<div class="btn-group">
					<button type="button" class="btn btn-default">California Standard</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<div class="dropdown-menu">
						<div class="select2-search">
							<span class="glyphicon glyphicon-search input-search-icon"></span>
							<input class="dropdown-search" type="text">
						</div>
						<ul class="dropdown-list">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
						</ul>
					</div>
				</div>

				<div class="btn-group btn-group-up">
					<button type="button" class="btn btn-default">Grade Level</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<div class="dropdown-menu">
						<div class="select2-search">
							<span class="glyphicon glyphicon-search input-search-icon"></span>
							<input class="dropdown-search" type="text">
						</div>
						<ul class="dropdown-list">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
						</ul>
					</div>
				</div>

				<div class="btn-group btn-group-up">
					<button type="button" class="btn btn-default">Year</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<div class="dropdown-menu">
						<div class="select2-search">
							<span class="glyphicon glyphicon-search input-search-icon"></span>
							<input class="dropdown-search" type="text">
						</div>
						<ul class="dropdown-list">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container lesson-card-group col-xs-7 col-md-8">
		<div class="row" type="button" data-toggle="modal" data-target="#myModal">
            <div class="col-xs-12">
                <div class="lesson-header panel panel-default">
                    <h5>Grade</h5>
                    <h5>Lesson Topic</h5>
                    <h5>Lesson File</h5>
                </div>
            </div>
		</div>
        <div class="row">
            <div class="col-xs-12">
                <div class="lesson-content panel panel-default" data-toggle="collapse" data-target="#demo1" aria-expanded="true">
                    <div class="content-header" style="padding-right: 0px;">
                        <span>Middle School</span>
                        <div class="lesson-topic flex-row">
                            <span class="title">The Cause of World War 2</span>
                            <span>Created By Shang Lu</span>
                        </div>
                        <div class="lesson-file">
                            <span class="download">
                                <i class="glyphicon glyphicon-save"></i>Download
                                <i class="glyphicon glyphicon-file"></i>View
                            </span>
                        </div>
                    </div>
                     <div id="demo1" class="collapse lesson-info" aria-expanded="false">
                        <h5>Background</h5>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <h5 class="image-title">Image(s)</h5>
                        <div class="image-card-group">
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="lesson-content panel panel-default" data-toggle="collapse" data-target="#demo1" aria-expanded="true">
                    <div class="content-header" style="padding-right: 0px;">
                        <span>Middle School</span>
                        <div class="lesson-topic flex-row">
                            <span class="title">The Cause of World War 2</span>
                            <span>Created By Shang Lu</span>
                        </div>
                        <div class="lesson-file">
                            <span class="download">
                                <i class="glyphicon glyphicon-save"></i>Download
                                <i class="glyphicon glyphicon-file"></i>View
                            </span>
                        </div>
                    </div>
                     <div id="demo1" class="collapse lesson-info" aria-expanded="false">
                        <h5>Background</h5>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <h5 class="image-title">Image(s)</h5>
                        <div class="image-card-group">
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="lesson-content panel panel-default" data-toggle="collapse" data-target="#demo1" aria-expanded="true">
                    <div class="content-header" style="padding-right: 0px;">
                        <span>Middle School</span>
                        <div class="lesson-topic flex-row">
                            <span class="title">The Cause of World War 2</span>
                            <span>Created By Shang Lu</span>
                        </div>
                        <div class="lesson-file">
                            <span class="download">
                                <i class="glyphicon glyphicon-save"></i>Download
                                <i class="glyphicon glyphicon-file"></i>View
                            </span>
                        </div>
                    </div>
                     <div id="demo1" class="collapse lesson-info" aria-expanded="false">
                        <h5>Background</h5>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <h5 class="image-title">Image(s)</h5>
                        <div class="image-card-group">
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="lesson-content panel panel-default" data-toggle="collapse" data-target="#demo1" aria-expanded="true">
                    <div class="content-header" style="padding-right: 0px;">
                        <span>Middle School</span>
                        <div class="lesson-topic flex-row">
                            <span class="title">The Cause of World War 2</span>
                            <span>Created By Shang Lu</span>
                        </div>
                        <div class="lesson-file">
                            <span class="download">
                                <i class="glyphicon glyphicon-save"></i>Download
                                <i class="glyphicon glyphicon-file"></i>View
                            </span>
                        </div>
                    </div>
                     <div id="demo1" class="collapse lesson-info" aria-expanded="false">
                        <h5>Background</h5>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <h5 class="image-title">Image(s)</h5>
                        <div class="image-card-group">
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                            <div class="image-card">
                                <a href="http://localhost:3000/search?bestof=true&amp;topic_id=449">
                                    <img src="https://marchand.s3-us-west-1.amazonaws.com/thumb_3-IMG00243.jpg" alt="Thumb 3 img00243">
                                </a>
                                <h5 class="text-center">Slavery and Abolition</h5>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
        </div>
	</div> <!--Container-->
</div>
