.container.admin {
    a {
        text-decoration: none;
    }

    h3.title {
        margin-top: 0;
    }

    .panel {
        margin-top: 10px;
        height: 500px;
    }

    .filter {
        height: 100%;

        .filter-header {
            span {
                font-weight: bold;
            }
        }

        .filter-row-container {
            height: auto;
            max-height: 90%;
            overflow-x: auto;
            margin-top: 10px;
            .filter-row {
                padding: 5px 0;

                &:hover {
                    background-color: rgb(243, 243, 243);
                    border-radius: 5px;
                    white-space: normal;
                    font-weight: bold;
                }

                .actions {
                    .glyphicon:first-child {
                        margin-right: 10px;
                    }
                }

                span {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }

    a {
        color: #494949;
    }

    i:hover {
        cursor: pointer;
        color: black;
    }
}
