// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import "bootstrap2-toggle.min";
@import "bootstrap-slider.min";

@import "admin.scss";
@import "advanced-search.scss";
@import "base.scss";
@import "blur-loading.scss";
@import "featured.scss";
@import "image_form.scss";
@import "images.scss";
@import "modal.scss";
@import "search_sidebar.scss";
@import "site.scss";
@import "slider-overwrite.scss";
@import "topic.scss";

@import "font-awesome-sprockets";
@import "font-awesome";
@import "footer.scss";
@import "header.scss";
@import "nav.scss";
@import "about.scss";
@import "lessons.scss";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none !important;
  box-shadow: none !important;
}

ul.inline {
  margin-top: 10px;

  li {
    display: inline;

    a {
      text-decoration: none;

      &:hover {
        color: #CCD4E1 !important;
      }
    }
  }
}

.container {
  margin-top: 10px;
  margin-bottom: 60px;
}

.tooltip {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;

  &.featured {
    justify-content: center;
    margin-right: 0;
  }
}

button {
  outline: none !important;
}

h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: unset;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font: 14px/20px 'Arimo', sans-serif;
  color: #494949;
  width: 100%;
  float: unset !important;
}

.page-content {
  min-height: 100%;
}

.page-content::after {
  content: "";
  display: block;
}

textarea {
  box-shadow: unset !important;
}

.dropdown-search {
  background: #f3f3f3 !important;
  border: 0 !important;
  box-shadow: inset 0 1px 0;
  border-radius: 3px;
  padding: 5px 5px;
  margin-bottom: 0px !important;
  font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.03);
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.03);
  box-shadow: inset 0 1px 0 rgba(0,0,0,.03);
}

.select2-search {
  padding: 12px 15px;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 1px solid #e5e5e5;
}

.dropdown-list {
  height: 235px;
  overflow-y: auto;
  padding-top: 0px;
  width: unset;
  font-size: 14px;
  text-align: left;
  list-style: none;
  padding-left: 0px;
  overflow-x: hidden;
}

.dropdown-list input {
  right: 0;
  opacity: 0;
  z-index: 99999;
  position: absolute;
}

.dropdown-list li a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-list li:first-child a {
  padding-top: 6px !important;
}

.dropdown-list li a:hover {
  text-decoration: none;
}

.dropdown-menu {
  overflow-y: unset !important;
  padding-top: 0px;
  width: 500px;
  font-size: 14px;
  text-align: left;
}

.input-search-icon {
  position: absolute;
  top: 13px;
  right: 16px;
  background: #f3f3f3 !important;
  padding: 7px;
  border-radius: 3px;
  cursor: pointer;
}

.toggle {
  width: 45px !important;
  height: 25px !important;
  padding: unset !important;
  float: right;
}

.toggle.btn {
  min-width: 100px !important;
}

.toggle .toggle-on {
  padding: 3px 16px 3px 3px !important
}

.toggle .toggle-off {
  padding: 3px 3px 3px 13px !important
}

.customized-checkbox {
  width: 100%;
  position: relative;
}

.customized-checkbox label {
  cursor: pointer;
  position: absolute;
  width: 19px;
  margin-bottom: 0px;;
  height: 19px;
  top: 0;
  right: 0;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #494949;
}

.customized-checkbox label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 4px;
  border: 3px solid #12AD06;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.marchand-logo {
  width: 255px !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

.customized-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.customized-checkbox input {
  position: absolute;
  top: 0;
  right:3px;
}

.disable-click {
  pointer-events: none;
}

.image-lesson-toggle {
  border: 1px solid #ccc;
  background-color: white;
  color: #555;
  width: 50%;
  font-style: normal;
  padding: 6px 40px 6px 40px;
}

.image-lesson-toggle.active {
  color: white;
  background-color: #286090;
  border-color: #204d74;
}

.image-lesson-toggle:hover {
  color: black;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
