body {
  font: 14px/20px 'Arimo', sans-serif;
  color: #494949;
  float: left;
  width: 100%;
}

.year-selector-section {
  div {
    border: 1px solid #CCCCCC;
    margin-top: 11px;
  }

  input {
    border-radius: 5px;
    border: 1px solid #CCCCCC;
  }
}

.page-title {
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.top-header {
  background: #002855;
}

.top-header .navbar-form {
  margin: 8px 0px 6px 0px;
}

.navbar {
  border-radius: 0px;
  min-height: 40px;
}

.navbar-form input {
  font: 14px/20px 'Arimo', sans-serif;
  letter-spacing: normal;
  -moz-appearance: searchfield;
}

.top-header .nav li a:hover {
  color: #CCD4E1 !important;
}

.nav-pages {
  background-color: #C99700;

  .nav {
    display: inline-block;
    padding-top: 26px;
  }

  .nav li {
    float: left;
    padding-left: 25px;
    padding-right: 25px;
  }

  .nav li a {
    padding: 0px !important;
    display: inline-block;
    color: white;
    font: 18px/16px 'Arimo', sans-serif;
  }

  .nav li a:hover {
    background-color: unset !important;
    color: #002855 !important;
  }
}

.admin-nav-link {
  padding: 10px 15px 10px 15px;
  margin-right: 10px;
  color: white;
}


/* ---- search and advanced search section -----*/

.caret {
  color: black;
}

input[type=search] {
  width: 40%;
  margin: 0 auto;
  padding: 5px;
  position: relative;
  top: 0;
}

.dropdown-menu input {
  margin-bottom: 5px;
  width: 100%;
  display: block;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu li:last-child {
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown-list {
  li {
    a {
      cursor: pointer;
      width: 100% !important;
    }
  }

  input {
    width: unset;
    display: inline;
    margin-left: 85%;
    cursor: pointer;
    transform: scale(2);
  }
}

.image-card {
  background-color: #FCFCFC;
  border-bottom: 1px solid #EAE8E8;
  cursor: pointer;
  border-radius: 5px;
  margin: 15px 15px;
  width: calc(25% - 32px);
  padding-left: 0;
  padding-right: 0;

  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  h5 {
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.image-card-add {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 115px;
  border: 2px dashed rgb(182, 181, 182);
  border-radius: 5px;

  i {
    color: rgb(182, 181, 182);
    font-size: 36px;
    align-self: center;
  }
}

.image-card-group {
    width: auto;
    margin: 0px auto 0px auto;
    padding-bottom: 35px;
    
    .col-xs-3 {
        margin-top: 25px;
    }

    h3 {
        margin-top: 1.75em;
    }

  img {
    width: 100% !important;
  }
}

.form-control:hover {
    box-shadow: unset !important;
}

.panel {
    padding: 20px !important;
}

.panel-default {
    background-color:#FCFCFC;
}

.sticky-content.fixed {
    position: fixed;
    margin-top: 15px;
    top: 5px;
    left: 0;
    right: 0;
}

.content-margin {
    margin-left: 27%;
}

@media only screen and (max-width: 850px) {
    .content-margin {
        margin-left: 230px;
    }
}

@media only screen and (max-width: 550px) {
    .content-margin {
        margin-left: 160px;
    }
}

.apple_pagination {
  text-align: center;
  cursor: default;

  .pagination {
    margin: 5px 0;
  }
}

.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
  color: #aaaaaa;
}

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
  text-decoration: none;
  color: black;
}

.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}

.panel-body {
  &:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }

  .row {
    .col-xs-12 {
      padding-right: 0px;
      padding-left: 0px;

      .row {
        .col-xs-12 {
          padding-left: 50px;
          padding-right: 50px;

          .row {
            .col-xs-6 {
              .btn-group {
                width: 340px;
                margin-top:10px;
              }
            }
          }
        }
      }
    }
  }
}

textarea.form-control {
  height: 150px;
}
