.image-placeholder {
  position: relative;
  overflow: hidden;
  animation-name: blackout;
  animation-duration: 2s;
}

.image-placeholder img {
  animation-name: blur;
  animation-duration: 2s;
  transition: opacity 1s;
}

.image-placeholder img {
  opacity: 1;
}

@keyframes blackout {
  0% { background-color: black; opacity: 0; }
  100% { background-color: black; opacity: 1; }
}

@keyframes blur {
  0% { filter: blur(10px); }
  100% {filter: blur(0px); }
}
