.input-group-addon {
  font-size: 13px !important;
  border-left: 1px solid #ccc;
}

.box {
  padding-top: 40px;
  padding-left: 20px;
}

.box .content {
  padding-top: 90px;
  padding-left: 170px;
}

.box .content p {
  color: #005580;
}

.box .content p a:link {
  text-decoration: none;
}

.box .content p a:hover {
  color: #0059b3;
}

.carousel-caption {
  position: absolute;
  left: auto;
  right: auto;
  width: 100%;
  background-color: #000000;
  opacity: 0.8;
  bottom: 30px;
  right:0;
  padding-top: 0px;
  padding-bottom: 10px;
  font-family: Times;
}

.carousel-caption h2 {
  font-size: 40px;
}

.carousel-indicators {
  bottom: -5px;
}

.item {
  text-align:center;
}

.carousel-inner img {
  display:inline-block  !important;
}
