.collection-title {
  text-align: center;

  h3 {
    margin-top: 0;
  }
}

.view-controls {
  text-align: right;

  button {

    &.selected {
      background-color: #e6e6e6;
      border-color: #adadad;
    }

    img {
      width: 24px !important;
      height: 24px !important;
      pointer-events: none;
    }
  }
}

.view-mode-list {
  margin-top: 2em;

  .image-card {
    margin-top: 0;

    img {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
