.collection-title {
  text-align: center;

  h3 {
    margin-top: 0;
  }
}

.view-controls {
  text-align: right;

  button {

    &.selected {
      background-color: #e6e6e6;
      border-color: #adadad;
    }

    img {
      width: 24px !important;
      height: 24px !important;
      pointer-events: none;
    }
  }
}

.view-mode-list {
  margin-top: 2em;

  .image-card {
    margin-top: 0;

    img {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.show-card-portrait,.show-card-landscape{
  ul {
    list-style: none;
    padding-left: 0;
  }

  h5 {
    font-weight: 600;
  }

  .description {
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
  }

  .show-card-content {
    margin: 2em auto;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
  }

  .show-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: black;
  }

  .show-card-body {
    padding: 15px;
  }
}

.show-card-portrait {
  width: 950px;
  margin: 2em auto;

  .show-card-content {
    display: flex;
    justify-content: center;
  }
}

.show-card-landscape {
  width: 600px;
  margin: 2em auto;

  .show-card-header {
    padding: 0px;
    border-bottom: 1px solid #e5e5e5;
  }
}

@media print {
  // Remove nav, sidebar, and view-controls in print view
  .search-sidebar, nav, .view-controls, .apple_pagination {
    display: none;
  }

  // Left-align main content as sidebar is gone in print view
  .content-margin {
    margin-left: 0;
  }

  // Print view is always "view-mode list"
  .view-mode-grid {
    display: none !important;
  }
  .view-mode-list {
    display: block !important;
  }

  // Avoid breaking up the card rows in print view
  .view-mode-list .row {
    page-break-inside: avoid;

    // Ensure hidden metadata (card text and citation) are shown in print view
    h5 {
      display: block !important;
    }
  }
}
