/* CSS Specific for _form in /views/images/_form */
.container.edit-image {
    .flex-center {
        display: flex;
        align-items: center;
    }
    .dropdown-toggle {
        width: 45px;
    }
    .image-basic-information {
        padding: 0px 35px 0px 35px;
    .col-xs-12 {
        margin-top: 25px;
    }
    .collection-dropdown {
        width: 45%;
    }
    .collection-dropdown .dropdown-toggle {
        width: 45px;
        text-align: center !important;
    }
    }
    .image-thumbnail {
        background-color: #FCFCFC;
        border: 1px solid #EAE8E8;
        padding: 10px 10px 10px 10px;
        cursor: pointer;
        border-radius: 5px;
    }
    .glyphicon.glyphicon-remove {
        font-size: 10px;
    }

    .filter-label {
        background-color:#E5E9EF;
        color: #494949;
        padding: 5px 15px;
        margin: 0 5px;
        font-weight:unset;
        font-size: 13px;
    }

    .glyphicon-remove {
        margin-left: 8px;
    }
}
