/* CSS Specific for _form in /views/images/_form */
.container.edit-image {
    .image-basic-information {
        padding: 0px 35px 0px 35px;
    }
    .image-thumbnail {
        background-color: #FCFCFC;
        border: 1px solid #EAE8E8;
        padding: 10px 10px 10px 10px;
        cursor: pointer;
        border-radius: 5px;
    }
    .glyphicon.glyphicon-remove {
        font-size: 10px;
    }

    .filter-label {
        background-color:#E5E9EF;
        color: #494949;
        padding: 5px 15px;
        margin: 0 5px;
        font-weight:unset;
        font-size: 13px;
    }
}
