.lesson-card-group {
    margin-bottom: 35px;
    margin-left:384px;
    .flex-row {
        display: flex;
        flex-direction: row;
    }
    .panel {
        margin-bottom: 10px !important;
        box-shadow: unset;
    }
    .lesson-header {
        border: 1px solid #ddd !important;
        display: flex;
        margin-top: 25px;
        padding: 0px 0px 0px 35px !important;
        h5 {
            font-weight: bold;
        }
    }
    .lesson-content {
        @extend .lesson-header;
        flex-wrap: wrap;
        margin-top: 0;
        padding-left: 0 !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        margin-bottom: 5px !important;
        background-color:#FCFCFC;
        border: 1px solid #dddddd !important;
        cursor: pointer;

        .glyphicon-plus {
            margin-right: 10px;
        }
        
        .header {
            padding-left: 35px !important;
        }

        span {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .lesson-file {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .lesson-topic {
            text-align: left;
            .title {
                margin-right: 15px;
            }
        }
        .lesson-file {
            // display: flex;
            // justify-content: center;
            cursor: pointer;
            i {
                text-align: right;
                color: #494949;

                &:hover {
                    color: #7D7D7D;
                }

                &:first-child {
                    margin-right: 5px;
                }

            }
        }
        .lesson-info {
            cursor: default;
            background-color: white;
            margin-top: 10px;
            width: 100%;
            padding: 0;
            h5 {
                padding: 20px 0px 0px 35px;
                margin-top: 20px;
                font-weight: bold;
                border-top: 1px solid #dddddd;
            }
            h5:first-child {
                margin-top: 0px !important;
            }
            p {
                margin-bottom: 0px;
                padding-left: 35px;
                padding-right: 35px;
            }
            .image-card-group {
                padding-left: 35px;
                padding-right: 35px;
                margin: 20px 0px 35px 0px;
                display: flex;
                justify-content: space-between;
                height: inherit;
            }
            .image-card {
                width: 25%;
                display: inline-block;
                flex: 0 1 auto;
                margin-right: 15px;
                margin-top: 0px;
                h5 {
                    font-weight: unset !important;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding: 0px;
                    border: unset;
                }
            }
         }
    }
    .lesson-content:hover {
        box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        border: 1px solid transparent;
    }
}

.lesson-content:hover {
        border: 1px solid #CCCCCC !important;
    }
.lesson-content:active {
        border: 1px solid #CCCCCC !important;
    }
