.horizontal-modal,.vertical-modal {
  h3 {
    line-height: 1.1 !important;
  }

  ul {
    list-style: none !important;
    padding-left: 0px !important;
  }
}

.horizontal-modal {
  .modal-header {
    padding: 0px !important;

    .close {
      opacity: 0.5 !important;
      margin: 5px !important;
      position: absolute;
      right: 0;
      color: black;
      background: white;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      z-index: 999;

      span {
        color: black !important;
      }
    }

    .close:hover {
      opacity: 1 !important;
    }

    .button-group {
      margin-left: 20px;
      margin-right: 20px;

      button {
        margin: 10px 0px 10px 5px !important;

        i {
          margin-right:5px;
        }

        .glyphicon {
          top: 2px !important;
        }
      }

      a {
        margin: 10px 0px 10px 5px !important;

        i {
          margin-right:5px;
        }

        .glyphicon {
          top: 2px !important;
        }
      }
    }

    .image-placeholder {
      img {
        width: 100% !important;
      }
    }

  }

  .modal-body {
    margin-left: 20px;
    margin-right: 20px;
    
    .image-title {
      margin: 5px 0px 30px 0px;
    }
    
    .description {
      padding-bottom: 5px;
      border-bottom: 1px solid #e5e5e5;
    }

    .list-section{
      margin-top: 15px;
      margin-bottom: 15px;

      h5 {
        font-weight: 600;
      }
    }
  }
}


.vertical-modal {
  .modal-header {
    border: unset;
    min-width: 30%;
    background-color: black;
    width: 100%;
    padding: 0px !important;

    .button-group {
      margin-left: 20px;
      margin-right: 20px;
      margin-left: 5px !important;

      button {
        margin: 10px 0px 10px 5px !important;
        border:none;

        i {
          margin-right:5px;
        }

        .glyphicon {
          top: 2px !important;
        }
      }

      a {
        margin: 10px 0px 10px 5px !important;
        border:none;

        i {
          margin-right:5px;
        }

        .glyphicon {
          top: 2px !important;
        }
      }
    }

    .image-placeholder {
      max-height: 600px;

      img {
        width: 100% !important;
      }
    }
  }

  .modal-body {
    padding:0px 0px 15px 15px !important;
    margin:35px 0px 0px 35px !important;
    margin-left: 20px;
    margin-right: 20px;

    .close {
      opacity: 0.5;
      margin: 5px !important;
      position: absolute;
      right: 0px;
      top: -35px;
      color: black;
      background: white;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

      span {
        color: black !important;
      }
    }

    .close:hover {
      opacity: 1 !important;
    }

    .image-info {
      padding-right:35px !important;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 535px;

      .image-title {
        margin: 5px 0px 0px 0px;
      }

      .description {
        padding-bottom: 5px;
        border-bottom: 1px solid #e5e5e5;
      }

      .list-section {
        margin-top: 15px;
        margin-bottom: 15px;

        h5 {
          font-weight: 600;
        }

        &.description {
          margin-top: 0;
        }
      }
    }
  }
}
