<!-- Grid view -->
<% cache "#{image.id}-#{image.updated_at.try(:utc).try(:to_s, :number).to_s}-grid" do %>
  <div class="col-xs-3 image-card">
  <%= link_to image, class: 'link-to-image-content' do %>
    <% if image.original.attached? %>
      <%= image_tag(image.thumbnail) %>
      <h5 class="text-center"><%= image.title %></h5>
    <% end %>
  <% end %>
  </div>
<% end %>
