<div id="landscape-modal" class="modal fade horizontal-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="image-placeholder">
					<img src="" alt="" />
				</div>
				<div class="button-group">
					<button id="download-image" type="button" class="btn btn-default"><span><i class="glyphicon glyphicon-save"></i></span>Download</button>
					<% if is_admin? %>
					<a type="button" class="btn btn-default btn-edit" href="#"><span><i class="glyphicon glyphicon-cog"></i></span>Edit</a>
					<% end %>
				</div>
			</div>
			<div class="modal-body">
				<div class="image-title">
					<h3 class="title"></h3>
					<h5><em class="collection"></em></h5>
					<h5><em class="authors"></em></h5>
				</div>
				<div class="list-section description">
					<h5>Description</h5>
					<p class="card"></p>
				</div>
				<div class="list-section">
					<h5>Topic(s)</h5>
					<ul class="topics"></ul>
				</div>
				<div class="list-section">
					<h5>Region(s)</h5>
					<ul class="regions"></ul>
				</div>
				<div class="list-section">
					<h5>California Standard</h5>
					<ul class="cal-standards"></ul>
				</div>
				<div class="list-section">
					<h5>National Standard</h5>
					<ul class="nat-standards"></ul>
				</div>
				<div class="list-section">
					<h5>Citation</h5>
					<p class="citation"></p>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
