<div class="marchand-about-page">
<div class="container marchand-description-container">
  <div class="row marchand-description-content">
    <div class="col-md-3">
      <%= image_tag("Marchand.gif", :class => "center-block marchand-profile") %>
    </div>
    <div class="col-md-9">
      <div>
        <h3>Marchand Archive</h3>
        <p>
          The Marchand Archive is a collection of more than 15,000 images and a growing number of document-based lesson plans. This site brings together the original <b><i>Adventures in Roland Marchand’s File Cabinent (1999)</i></b> and the <b><i>Marchand Image Collection (2001)</i></b>. In 2007, with funding from the National Endowment for the Humanities, we expanded the image collection with contributions from UC Davis History Department faculty. Many of these images, digitized from slides, are not available elsewhere. The expanding collection of lesson plans developed by teacher leaders, graduate students, and staff, encourage students to apply their analytical skills to a set of primary sources from which they can deduce and explain events from the past.
        </p>
        <p>
          In July 2017, with support from the UC Davis Division of Social Sciences, we launched this updated platform to make using the collection much easier. Please share with us how you are using the collection and contact us if you have any difficulties finding materials you have used in the past.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
