<!DOCTYPE html>
<html>
  <head>
    <title>Marchand Image Collection</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<span>Yes in application.html.erb</span>
  <a href="/">Home</a>
  <a href="/edit">Edit page</a>
	<div class="container">
      <span> Still in application.html.erb</span>
    	<%= yield %>
      <span> Back to application.html.erb</span>
	</div>
  </body>
</html>
