<!DOCTYPE html>
<html>
  <head>
    <title>Marchand Image Collection</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<span>Yes in application.html.erb</span>
  <a href="/">Home</a>
  <a href="/edit">Edit page</a>
	<div class="container">
      <span> Still in application.html.erb</span>
    	<%= yield %>
<<<<<<< HEAD
      <span> Back to application.html.erb</span>
=======
		<div class="row">
			<a class="btn btn-default col-md-6">Hi it works</a>
		</div>
>>>>>>> 4510b492bb4660efd05eec8d6e85414e325d6165
	</div>
  </body>
</html>
